#  **Desafio House Rocket**
 
A ideia do desafio é poder comprar casas com preço baixo e fazer a revenda com os preços mais altos.
 
Assim, encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço mais baixo, em ótimas localizações e que tenham um ótimo potencial de revenda por um preço mais alto.

Novas perguntas impostas:
1. Qual o número de imóveis por ano de construção?
2. Qual o menor número de quartos por ano de construção de imóveis?
3. Qual o preço de compra mais alto por cada número de quartos?
4. Qual a soma de todos os preços de compra por número de quartos?
5. Qual a soma de todos os preços de compras por número de quartos e banheiros?
6. Qual o tamanho médio das salas dos imóveis por ano de construção?
7. Qual o tamanho mediano das salas dos imóveis por ano de construção?
8. Qual o desvio padrão do tamanho das salas dos imóveis por ano de construção?
9. Como é o crescimento médio de preços de compras dos imóveis, por ano, por dia e pela semana do ano?
10. Eu gostaria de olhar no mapa e conseguir identificar as casas com o maior preço.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1 - Importação das bibliotecas

In [2]:
import pandas as pd

# 2 - Lendo a base de dados

In [3]:
PATH = '/content/drive/MyDrive/Colab Notebooks/meigarom/base/kc_house_data.csv'
data = pd.read_csv(PATH)
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# 3 - Respondendo as Perguntas

##  3.1- Quantos imóveis existem por número de quartos?

In [12]:
df_grouped = data[['id', 'bedrooms']].groupby('bedrooms')

for bedrooms, frame in df_grouped:
  print('Para {} quartos, existem {} imóveis'.format(bedrooms, frame.shape[0]))

Para 0 quartos, existem 13 imóveis
Para 1 quartos, existem 199 imóveis
Para 2 quartos, existem 2760 imóveis
Para 3 quartos, existem 9824 imóveis
Para 4 quartos, existem 6882 imóveis
Para 5 quartos, existem 1601 imóveis
Para 6 quartos, existem 272 imóveis
Para 7 quartos, existem 38 imóveis
Para 8 quartos, existem 13 imóveis
Para 9 quartos, existem 6 imóveis
Para 10 quartos, existem 3 imóveis
Para 11 quartos, existem 1 imóveis
Para 33 quartos, existem 1 imóveis

## 3.2 - Qual o número de imóveis por ano de construção?

## 3.3 - Qual o menor número de quartos por ano de construção de imóveis?

## 3.4 - Qual o preço de compra mais alto por cada número de quartos?

## 3.5 - Qual a soma de todos os preços de compra por número de quartos?

## 3.6 - Qual a soma de todos os preços de compras por número de quartos e banheiros?

## 3.7 - Qual o tamanho médio das salas dos imóveis por ano de construção?

## 3.8 - Qual o tamanho mediano das salas dos imóveis por ano de construção?

## 3.9 - Qual o desvio padrão do tamanho das salas dos imóveis por ano de construção?

## 3.10 - Como é o crescimento médio de preços de compras dos imóveis, por ano, por dia e pela semana do ano?

## 3.11 - Eu gostaria de olhar no mapa e conseguir identificar as casas com o maior preço.