# **Desafio House Rocket**
A ideia do desafio é poder comprar casas com preço baixo e fazer a revenda com os preços mais altos.

Assim, encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço mais baixo, em ótimas localizações e que tenham um ótimo potencial de revenda por um preço mais alto.

Novas perguntas impostas:
1. Qual a quantidade de imóveis por nível? Sendo os seguintes níveis: **Nível 0 com o preço até R$ 321.950** ; **Nível 1 com o preço entre RS321.950 até RS 450.000** ; **Nível 2 com o preço entre RS 450.00 até RS 645.000** ; **Nível 3 com os preços acima de RS 645.000**
2. Adicione as seguintes informações ao imovel: O nome da rua, o número do imovel, o nome do bairro, nome da cidade e o nome do estado.
3. Adicione o nível do imovel no mapa como uma cor.
4. Adicione o preço do imovel como o tamanho do ponto no mapa.
5. Adicione opções de filtros para ser feito as próprias análises como: **Visualizar os imóveis com vista para agua ou nao**; **Escolher filtrar os imóveis com um certo valor de preço**.
6. Adicione opções de filtro no último dashboard.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1 - Importações das bibliotecas

In [24]:
import pandas as pd

from geopy.geocoders import Nominatim

# 2 - Leitura dos Dados

In [40]:
PATH = '/content/drive/MyDrive/Colab Notebooks/meigarom/base/kc_house_data.csv'
data = pd.read_csv(PATH)
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# 3 - Respondendo as questões

## 3.1 - Qual a quantidade de imóveis por nível?

In [41]:
data['nivel'] = 'NaN'

for i in range(data.shape[0]):
  if data.loc[i, 'price'] > 0 and data.loc[i, 'price'] < 321950:
    data.loc[i, 'nivel'] = 'nivel_0'
  
  elif data.loc[i, 'price'] > 321950 and data.loc[i, 'price'] < 450000:
    data.loc[i, 'nivel'] = 'nivel_1'

  elif data.loc[i, 'price'] > 450000 and data.loc[i, 'price'] < 645000:
    data.loc[i, 'nivel'] = 'nivel_2'
  
  else:
    data.loc[i, 'nivel'] = 'nivel_3'

In [42]:
data.head()

           id             date     price  ...  sqft_living15  sqft_lot15    nivel
0  7129300520  20141013T000000  221900.0  ...           1340        5650  nivel_0
1  6414100192  20141209T000000  538000.0  ...           1690        7639  nivel_2
2  5631500400  20150225T000000  180000.0  ...           2720        8062  nivel_0
3  2487200875  20141209T000000  604000.0  ...           1360        5000  nivel_2
4  1954400510  20150218T000000  510000.0  ...           1800        7503  nivel_2

[5 rows x 22 columns]

## 3.2 - Adicione as seguintes informações ao imovel

In [43]:
data['road'] = 'NA'
data['house_number'] = 'NA'
data['neighbourhood'] = 'NA'
data['city'] = 'NA'
data['county'] = 'NA'
data['state'] = 'NA'

In [44]:
data.head()

           id             date     price  ...  city  county  state
0  7129300520  20141013T000000  221900.0  ...    NA      NA     NA
1  6414100192  20141209T000000  538000.0  ...    NA      NA     NA
2  5631500400  20150225T000000  180000.0  ...    NA      NA     NA
3  2487200875  20141209T000000  604000.0  ...    NA      NA     NA
4  1954400510  20150218T000000  510000.0  ...    NA      NA     NA

[5 rows x 28 columns]

In [ ]:
geolocator = Nominatim(user_agent = 'geoapiExercices')
for i in range(data.shape[0]):
  query = str(data.loc[i, 'lat']) +','+ str(data.loc[i, 'long'])
  response = geolocator.reverse(query)

  if 'house_number' in response.raw['address']:
    data.loc[i, 'house_number'] = response.raw['address']['house_number']
  if 'road' in response.raw['address']:
    data.loc[i, 'road'] = response.raw['address']['road']
  if 'neighbourhood' in response.raw['address']:
    data.loc[i, 'neighbourhood'] = response.raw['address']['neighbourhood']
  if 'city' in response.raw['address']:
    data.loc[i, 'city'] = response.raw['address']['city']
  if 'county' in response.raw['address']:
    data.loc[i, 'county'] = response.raw['address']['county']
  if 'state' in response.raw['address']:
    data.loc[i, 'state'] = response.raw['address']['state']

## 3.3 - Adicione o nível do imovel no mapa como uma cor.

## 3.4 - Adicione o preço do imovel como o tamanho do ponto no mapa.

## 3.5 - Adicione opções de filtros para ser feito as próprias análises.

## 3.6 - Adicione opções de filtro no último dashboard.