#  **Desafio House Rocket**
 
A ideia do desafio é poder comprar casas com preço baixo e fazer a revenda com os preços mais altos.
 
Assim, encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço mais baixo, em ótimas localizações e que tenham um ótimo potencial de revenda por um preço mais alto.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1 - Importando as bibliotecas

In [2]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

import numpy as np

from geopy.geocoders import Nominatim

# 2 - Importando a base de dados

In [3]:
PATH = '/content/drive/MyDrive/Colab Notebooks/meigarom/base/kc_house_data.csv'
data = pd.read_csv(PATH)
data.head()

           id             date     price  ...    long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000 221900.00  ... -122.26           1340        5650
1  6414100192  20141209T000000 538000.00  ... -122.32           1690        7639
2  5631500400  20150225T000000 180000.00  ... -122.23           2720        8062
3  2487200875  20141209T000000 604000.00  ... -122.39           1360        5000
4  1954400510  20150218T000000 510000.00  ... -122.05           1800        7503

[5 rows x 21 columns]

# 3 - Convertendo a Data

In [4]:
data['date'] = pd.to_datetime(data['date'])

# 4 - Estatística Descritiva dos dados

## 4.1 - Tendência Central - Média e Mediana

In [5]:
num_attributes = data.select_dtypes(include=['int64', 'float64'])
num_attributes.dtypes

id                 int64
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [6]:
media = pd.DataFrame(num_attributes.apply(np.mean, axis = 0))
mediana = pd.DataFrame(num_attributes.apply(np.median, axis = 0))

## 4.2 - Dispersão - Mínimo, Máximo e o Desvio Padrão

In [7]:
std = pd.DataFrame(num_attributes.apply(np.std, axis = 0))
min = pd.DataFrame(num_attributes.apply(np.min, axis = 0))
max = pd.DataFrame(num_attributes.apply(np.max, axis = 0))

## 4.3 - União das métricas

In [8]:
df1 = pd.concat([max, min, media, mediana, std], axis = 1).reset_index()
df1.columns = ['attributes', 'maximo', 'minimo', 'media', 'mediana', 'std']
df1

       attributes        maximo  ...       mediana           std
0              id 9900000190.00  ... 3904930410.00 2876499023.43
1           price    7700000.00  ...     450000.00     367118.70
2        bedrooms         33.00  ...          3.00          0.93
3       bathrooms          8.00  ...          2.25          0.77
4     sqft_living      13540.00  ...       1910.00        918.42
5        sqft_lot    1651359.00  ...       7618.00      41419.55
6          floors          3.50  ...          1.50          0.54
7      waterfront          1.00  ...          0.00          0.09
8            view          4.00  ...          0.00          0.77
9       condition          5.00  ...          3.00          0.65
10          grade         13.00  ...          7.00          1.18
11     sqft_above       9410.00  ...       1560.00        828.07
12  sqft_basement       4820.00  ...          0.00        442.56
13       yr_built       2015.00  ...       1975.00         29.37
14   yr_renovated       2015.00  ...          0.00        401.67
15        zipcode      98199.00  ...      98065.00         53.50
16            lat         47.78  ...         47.57          0.14
17           long       -121.31  ...       -122.23          0.14
18  sqft_living15       6210.00  ...       1840.00        685.38
19     sqft_lot15     871200.00  ...       7620.00      27303.55

[20 rows x 6 columns]

# 5 - Respondendo dúvidas

## 5.1 - Criar uma nova coluna chamada 'dormitory_type'

In [9]:
# Condições para criar a nova coluna:
#  - Se o valor da coluna 'bedrooms' for igual a 1 => 'studio'
#  - Se o valor da coluna 'bedrooms' for igual a 2 => 'apartament'
#  - Se o valor da coluna 'bedrooms' for maior a 2 => 'house'

data['dormitory_type'] = 'NaN'

data['dormitory_type'] = data['bedrooms'].apply(lambda x: 'studio' if x == 1 else
                                                          'apartament' if x == 2 else
                                                          'house' )

data.head()

           id       date     price  ...  sqft_living15  sqft_lot15  dormitory_type
0  7129300520 2014-10-13 221900.00  ...           1340        5650           house
1  6414100192 2014-12-09 538000.00  ...           1690        7639           house
2  5631500400 2015-02-25 180000.00  ...           2720        8062      apartament
3  2487200875 2014-12-09 604000.00  ...           1360        5000           house
4  1954400510 2015-02-18 510000.00  ...           1800        7503           house

[5 rows x 22 columns]

## 5.2 - Definindo níveis de preço

In [10]:
# Os níveis podem ser:
# 0 até 321.950       = 0
# 321.950 até 450.000 = 1
# 450.000 até 645.000 = 2
# Acima de 645.000    = 3

data['level'] = np.NaN

data['level'] = data['price'].apply(lambda x: 0 if x < 321950 else
                                    1 if x >= 321950 and x < 450000 else
                                    2 if x >= 450000 and x < 645000 else
                                    3)

## 5.3 - Utilizando API para agregar informação de endereço

In [11]:
#geolocator = Nominatim(user_agent = 'geopiExercices')

In [12]:
#response = geolocator.reverse('47.51,-122.26')

In [13]:
#response.raw['address']