In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1 - Importação dos dados

In [2]:
import pandas as pd

In [31]:
base = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning e Data Science com Python de A a Z/Secao3/census.csv')
base.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

# 2 - Dicionario de dados

Detalhes:
- age: idade (Variável numérica discreta)
 
- workclass: tipo de emprego (Variável categórica nominal)
 
- final-weight: característica demográfica/socioeconômica (Variável numérica discreta)
 
- education: tipo de educação (Variável categórica ordinal)
 
- education-num: quantidade de anos que a pessoa está estudando (variável numérica discreta)
 
- marital-status: estado civil (Variável categórica ordinal)
 
- occupation: tipo de trabalho (Variável categórica nominal)
 
- relationship: relacionamento (Variável categórica nominal)
 
- race: raça (Variável categórica nominal)
 
- sex: sexo (Variavel categórica nominal)
 
- capital-gain: ganho de capital (Variável numérica contínua)
 
- capital-loss: perda de capital (Variável numérica contínua)
 
- hour-per-week: horas de trabalho por semana (Variável numérica discreta)
 
- native-country: nacionalidade (Variável categórica nominal)
 
- income: renda (Variável categórica nominal)

# 3 - Processamento

## 3.1 - Separando a base em previsões e classes

In [32]:
previsores = base.iloc[:, 0:14].values
previsores

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [33]:
classe = base.iloc[:, 14].values
classe

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

## 3.2 - Transformação das variáveis categóricas

In [34]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [35]:
labelEncoder_previsores = LabelEncoder()

In [36]:
# teste
# labels = labelEncoder_previsores.fit_transform(previsores[:, 1])
# labels

In [37]:
previsores[:, 1] = labelEncoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelEncoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelEncoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelEncoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelEncoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelEncoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelEncoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelEncoder_previsores.fit_transform(previsores[:, 13])
previsores

array([[39, 7, 77516, ..., 0, 40, 39],
       [50, 6, 83311, ..., 0, 13, 39],
       [38, 4, 215646, ..., 0, 40, 39],
       ...,
       [58, 4, 151910, ..., 0, 40, 39],
       [22, 4, 201490, ..., 0, 20, 39],
       [52, 5, 287927, ..., 0, 40, 39]], dtype=object)

In [38]:
onehotencoder = OneHotEncoder()

In [39]:
previsores = onehotencoder.fit_transform(previsores[:, [1, 3, 5, 6, 7, 8, 9, 13]]).toarray()

In [40]:
previsores

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [41]:
previsores.shape

(32561, 102)

In [42]:
labelEncoder_classe = LabelEncoder()

In [43]:
classe = labelEncoder_classe.fit_transform(classe)
classe

array([0, 0, 0, ..., 0, 0, 1])

## 3.3 - Escalonamento dos valores

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
scaler = StandardScaler()

In [46]:
previsores = scaler.fit_transform(previsores)
previsores

array([[-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266],
       ...,
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.34095391,
        -0.04540836, -0.02217266]])