In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1 - Importação das bibliotecas

In [2]:
import pandas as pd

!pip install apyori
from apyori import apriori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

# 2 - Importação da base

In [3]:
PATH = '/content/drive/MyDrive/Colab Notebooks/Machine Learning e Data Science com Python de A a Z/Estudo associação/mercado.csv'
base = pd.read_csv(PATH, header=None)
base.head()

         0        1         2         3
0    leite  cerveja       pao  manteiga
1     cafe      pao  manteiga       NaN
2     cafe      pao  manteiga       NaN
3    leite     cafe       pao  manteiga
4  cerveja      NaN       NaN       NaN

# 3 - Processamentos e Resultad

## 3.1 - Transformação dataset em matriz

In [4]:
transacoes = []

In [5]:
base.shape

(10, 4)

In [6]:
for i in range(0 , base.shape[0]):
  transacoes.append([str(base.values[i, j]) for j in range(0, base.shape[1])])

In [7]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

## 3.2 - Utilizando o método apriori para fazer as devidas referência

In [8]:
regras = apriori(transacoes, 
                 min_support = 0.3, 
                 min_confidence = 0.8, 
                 min_lift = 2,
                 min_lenght = 2)

In [9]:
resultados = list(regras)

In [10]:
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [11]:
resultados_2 = [list(x) for x in resultados]
resultados_2

[[frozenset({'cafe', 'manteiga'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]]]

## 3.3 - Resultados encontrados

In [12]:
resultados_formatados = []

In [13]:
for j in range(0, 3):
  resultados_formatados.append([list(x) for x in resultados_2[j][2]])

In [14]:
resultados_formatados

[[[frozenset({'cafe'}), frozenset({'manteiga'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'pao'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'manteiga', 'pao'}), 1.0, 2.5],
  [frozenset({'cafe', 'manteiga'}), frozenset({'pao'}), 1.0, 2.0],
  [frozenset({'cafe', 'pao'}), frozenset({'manteiga'}), 1.0, 2.0]]]

 - **Conclusão**

 Utilizando um suporte mínimo de 0.3, junto com o lift de 2 e a confiança de 0.8, conseguimos obter os agrupamentos de produtos que são mais vendidos em conjunto.